<p style="background-color: #B8D8D8; padding: 10px; border-radius: 5px; margin-bottom: 15px;">Parcels sent to Kyiv</p>
<%= link_to "Check", showFrom_path, class: "check-link" %>

<p style="background-color: #B8D8D8; padding: 10px; border-radius: 5px; margin-bottom: 15px;">Parcels whose value is more than UAH 1,000</p>
<%= link_to "Check", showValue_path, class: "check-link" %>

<p style="background-color: #B8D8D8; padding: 10px; border-radius: 5px; margin-bottom: 15px;">Parcels sent to the same address</p>
<%= link_to "Check", showRepeated_path, class: "check-link" %>

