<h1 style="background-color: #4F6367; color: #FFFFFF; padding: 10px; border-radius: 5px;">Requests that are available:</h1>

<p style="background-color: #B8D8D8; padding: 10px; border-radius: 5px; margin-bottom: 15px;">Parcels sent to Kyiv</p>
<%= link_to "Check", showFrom_path, style: "display: inline-block; padding: 10px; background-color: #4F6367; color: #ffffff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s; margin-bottom: 15px;" %>

<p style="background-color: #B8D8D8; padding: 10px; border-radius: 5px; margin-bottom: 15px;">Parcels whose value is more than UAH 1,000</p>
<%= link_to "Check", showValue_path, style: "display: inline-block; padding: 10px; background-color: #4F6367; color: #ffffff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s; margin-bottom: 15px;" %>

<p style="background-color: #B8D8D8; padding: 10px; border-radius: 5px; margin-bottom: 15px;">Parcels sent to the same address</p>
<%= link_to "Check", showRepeated_path, style: "display: inline-block; padding: 10px; background-color: #4F6367; color: #ffffff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s; margin-bottom: 15px;" %>
