<h3 style="background-color: #4F6367; color: #FFFFFF; padding: 10px; border-radius: 5px;">How many parcels were sent to Kyiv?</h3>

<p style="background-color: #B8D8D8; padding: 10px; border-radius: 5px; margin-bottom: 15px; display: inline-block;">
  <span style="color: #FE5F55; font-weight: bold;">Answer:</span>
  <span style="background-color: #FE5F55; color: #ffffff; padding: 5px 10px; border-radius: 5px; margin-left: 5px;">
    <%= @amount_from_Kyiv %>
  </span>
</p>

